/*html,body {
  height:100%;
  width:100%;
  margin:0;
}
body {
  display:flex;
}
input,select,textarea {
  width: 250px;
}
.submit {
  width: 125px;
  margin-left: 17%;
}
#add_form {
  #width: 300px;
}
div.form
{
  width:100%;
  margin:0;
  display:flex;
  text-align: center;
}
form
{
  text-align: left;
  margin:auto;
}*/
